<form>
    <div>
        <label for="nombre">Nombre</label>
        <input type="text" [(ngModel)]="persona.nombre" id="nombre" name="nombre"> <!-- 0x300.nombre -->
    </div>
    <div>
        <label for="apellidos">Apellidos</label>
        <input type="text" [(ngModel)]="persona.apellidos" id="apellidos" name="apellidos">
    </div>
    <div>
        <label for="telefono">Teléfono</label>
        <input type="tel" [(ngModel)]="persona.telefono" id="telefono" name="telefono">
    </div>
    <div>
        <button>Añadir</button>
    </div>
</form>