<table class="table table-hover table-striped table-bordered">
  <caption>Listado de personas</caption>
  <thead class="table-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of personas">
      <th scope="row">{{p.id}}</th>
      <td>{{p.nombre}}</td>
      <td>{{p.apellidos}}</td>
      <td>{{p.telefono}}</td>
      <td>
        <button class="btn btn-sm btn-primary" routerLink="/admin/{{p.id}}">Editar</button> <!-- (segundo -> 0x300) -->
        <button class="btn btn-sm btn-danger" (click)="borrar(p.id)">Borrar</button>
      </td>
    </tr>
  </tbody>
  <tfoot class="table-dark">
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <button class="btn btn-sm btn-primary" routerLink="/admin/0">Añadir</button>
      </td>
    </tr>
  </tfoot>
</table>
