<table>
  <caption>Listado de personas</caption>
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of personas">
      <th scope="row">{{p.id}}</th>
      <td>{{p.nombre}}</td>
      <td>{{p.apellidos}}</td>
      <td>{{p.telefono}}</td>
      <td>
        <button routerLink="/admin/{{p.id}}">Editar</button> <!-- (segundo -> 0x300) -->
        <button (click)="borrar(p.id)">Borrar</button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <button routerLink="/admin/0">Añadir</button>
      </td>
    </tr>
  </tfoot>
</table>
